            body {
                text-align: center;
                background-color: rgb(107, 107, 107);
                color: white;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                margin: 0px;
            }

            .arrow {
                border: solid white;
                border-width: 0 3px 3px 0;
                display: inline-block;
                margin-left: 5px;
                padding: 3px;
            }

            .up {
                transform: rotate(-135deg);
                -webkit-transform: rotate(-135deg);
            }

            .down {
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }

            .container {
                margin: 20px;
                display: inline-block;
                border: 3px solid black;
                color: white;
                background-color: rgb(75, 75, 75);
            }

            .col {
                min-width: 250px;
                width: auto;
                min-height: 150px;
                height: auto;

                float: inline-start;

                max-width: 60%;
                max-height: 60%;

                margin: 5px;
                display: inline-table;
            }

            .col.long {
                width: 90%;
                max-width: 90%;
                max-height: 90%;
                color: white;

            }

            fieldset {
                border: 0;
            }

            form {
                text-align: center;
            }

            h3 {
                margin-top: 0;
                margin-bottom: 5px;
                font-size: 32px;
            }

            h4 {
                margin-top: 0;
                margin-bottom: 5px;
                font-size: 26px;
            }

            .send {
                margin: 10px 0 5px;
            }

            #device-list {
                margin: 0;
                list-style-type: none;
                font-size: 18px;
            }

            .device-id {
                font-size: 26px;
            }

            .device-info {
                font-size: 20px;
            }

            .device-state {
                font-size: 24px;
            }

            #context-menu {
                display: none;
                z-index: 100;
            }

            menu {
                position: absolute;
                display: block;
                left: 0;
                top: 0;
                height: 20px;
                width: 20px;
                padding: 0;
                margin: 0;
                background-color: rgb(75, 75, 75);
                font-weight: normal;
                white-space: nowrap;
                color: white;
                padding: 6px;
                border-left: 2px solid white;
                border-right: 2px solid white;
            }

            menu:first-child {
                border-top: 2px solid white;
            }

            menu:last-child {
                border-bottom: 2px solid white;
            }

            menu:hover {
                background-color: rgb(117, 117, 117);
                color: rgb(207, 207, 207);
            }

            menu:hover>menu {
                display: block;
            }

            menu>menu {
                display: none;
                position: relative;
                top: -20px;
                left: 100%;
                width: 150px;
            }

            menu[title]:before {
                content: attr(title);
            }

            menu:not([title]):before {
                content: "\2630";
            }

            .selected {
                text-decoration: underline;
                text-decoration-thickness: 1px;
                color: rgb(211, 211, 211);
            }

            #navbar-heading {
                width: 100%;
                background-color: rgb(36, 36, 36);
                top: 0px;
                margin: 0px;
            }

            .device-state {
                color: red;
            }

            .offline-devices {
                color: rgb(126, 126, 126);
            }

            .state-on {
                color: green;
            }

            #terminal-window {
                background-color: black;
                width: 100%;
                min-height: 100px;
                text-align: left;
            }

            .terminal-message {
                margin: 0px 10px;
                padding-top: 5px;
                padding-bottom: 5px;
            }

            #terminal-device-name {
                color: green;
            }

            .send {
                text-align: center;
                font-size: 26px;
                background-color: rgb(0, 255, 0);
                padding: 10px 20px;
                color: rgb(255, 255, 255);
                border: 1px solid white;
                pointer-events: none;
            }

            .send:disabled,
            button[disabled=true] {
                background-color: #cccccc;
                color: #666666;
            }

            .send:hover {
                background-color: rgb(129, 255, 129);
            }